@model u04598637_HW05.Models.StudBookVM

<h2>Books</h2>
<div class="row">
    <br>
    <div class="col-lg-2 col-md-6">
        <div class="form-outline">
            <input type="search" id="form1" class="form-control" placeholder="Search Book Name" aria-label="Search" />
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Type
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Select Author
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="dropdown">
            <button class="btn btn-success">Search</button>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="dropdown">
            <button class="btn btn-danger">Clear</button>
        </div>
    </div>
</div>
<br>
<br>

<div class="col-md-12">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Type</th>
                <th scope="col">Page Count</th>
                <th scope="col">Points</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var bookrec in Model.)
            {
                <tr>

                </tr>
            }
        </tbody>
    </table>
</div>
</div>
